<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>knowledge map</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.13.1/dist/js-yaml.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
  </head>
  <body>
    <section class="section">

      <div id="app" v-cloak>
        <div class="container">

          <div class="row top-buffer">
            <div class="col-md-12">
              <a href="https://github.com/neicnordic/knowledge-map" target="_blank">source code</a> |
              <a href="https://github.com/neicnordic/knowledge-map/blob/gh-pages/LICENSE" target="_blank">license</a> |
              <a href="https://github.com/neicnordic/knowledge-map#authors" target="_blank">authors</a> |
              <a href="https://github.com/neicnordic/knowledge-map/issues" target="_blank">issues</a>
            </div>
          </div> <!-- row -->

          <div class="row top-buffer">
            <div class="col-md-12">
              <div id="mapid" style="width: 100%; height: 400px;"></div>
            </div>
          </div> <!-- row -->
          <div v-if="data_is_loaded">
            <div class="row top-buffer">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <label class="col-form-label" for="skills_input">Find people who know about ...</label>
                    <input id="skills_input" v-model="skills_input" type="text" class="form-control" placeholder="keyword">
		    <!--Skill-categories: {{skill_categories}}<br>-->

		    <!--{{skills_found}}-->
		    <div v-if="hit">
		    <br>Skills found:
		    <span v-for="key in Object.keys(skills_found)" style="margin-right: 5px;">
		      <div v-if="skills_found[key].length > 0">

		      <br>{{ key }}:
		      <span v-for="skill in Object.values(skills_found[key])" class="badge badge-primary" style="margin-right: 5px;">{{ skill }}</span>
		      </div>
		    </span>

		    
		   <!-- <span v-for="skill_cat in skill_categories" style="margin-right: 5px;"><br>{{ skill_cat }}: -->
		   <!--<span v-for="skill in skills_all[skill_cat]" class="badge badge-primary" style="margin-right: 5px;">{{ skill }}</span>-->
		    </span>
		    <!--Skills all: {{skills_all[skill_categories[0]]}}<br>
		    Skills all: {{skills_all[skill_categories[1]]}}<br>-->
		    <!-- <span v-for="skill_cat in skill_categories" class="badge badge-primary" style="margin-right: 5px;">{{ skill_cat }}</span>-->
		    <br>Persons found: {{ persons_found}}
		    </div>
                  </div>
                </div>
            </div> <!-- row -->
          </div>

          <div v-if="data_is_loaded">
            <div class="row top-buffer">
              <div class="col-md-12">
               <div v-if="skills_found.length > 0">
                  <br>
                  found the keywords:
                  <span v-for="skill in skills_found" class="badge badge-primary" style="margin-right: 5px;">{{ skill }}</span>
              </div>
                <div v-if="skills_all.length > 0">
                  <br>
                  All skills:
		  <span v-for="key in Object.keys(skills_all[0])" style="margin-right: 5px;"><br>{{ key }}:
                  <span v-for="skill in Object.values(skills_all[0][key])" class="badge badge-primary" style="margin-right: 5px;">{{ skill }}</span>
		  </span>

		  
                </div>
              </div>
            </div> <!-- row -->
          </div>

        </div>
      </div>
    </section>

   <script src="js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </body>
</html>
